<div class="lg:tw-m-[100px] lg:tw-mx-[200px] tw-m-10 tw-flex tw-flex-col">
  <h1>Location:</h1>

  <span>
    !TUM will be held in the Sonnenberghalle in Helferskirchen (Schulstraße 5,
    56244 Helferskirchen). It’s the town hall with plenty of space to have fun.
  </span>
  <span>
    A short drive away is the city of Montabaur with its ICE train station. If
    you have absolutely no way of coming from there to the party place, feel
    free to contact us and we’ll try to find a solution.
  </span>
  <span>
    Due to the nature of the Sonnenberghalle it is situated inside the town. So
    we sadly have the instructions to keep the volume low and to a reasonable
    level after 10pm. That’s because there are people living around the
    building.
  </span>
</div>
