<div class="tw-pt-20"></div>
<div class="tw-border-t-2"></div>
<div class="tw-flex tw-flex-col tw-items-center">
  <img
    ngSrc="logo.svg"
    alt="footer-logo"
    height="256"
    width="256"
    class="tw-p-10"
  />

  <p class="tw-text-[#4080bd] tw-py-4">Copyright ©2024 !TUM</p>

  <a
    (click)="navigateToDatenschutz()"
    class="tw-text-[#1e87f0] hover:tw-cursor-pointer hover:tw-underline hover:tw-text-[#0f6ecd]"
    >Datenschutzerklärung (DE)</a
  >
  <div class="tw-pb-10"></div>
</div>
