<div class="tw-m-[100px]">
  <p class="tw-text-[#4080bd] tw-pb-8">
    !TUM is the spiritual successor to the well beloved TUM demoparty. We want
    to celebrate our scene, art and friends one last time in 2024, before we
    head into 2025. And what would be a better way to close the year, than
    watching a few compos?
  </p>
  <p class="tw-text-[#4080bd] tw-pb-20">
    This website will be constantly updated the closer we come to the event. So
    check in regularly to get the latest updates.
  </p>

  <div class="tw-flex tw-flex-col tw-items-center">
    <h1 class="tw-font-bold tw-text-[42px] tw-text-[#4080bd] tw-pb-8">
      First time visitors
    </h1>

    <span class="tw-text-[#4080bd] tw-pb-20">
      If this is your first demoparty: good choice! We are happy to welcome
      people interested in digital art, hardware and computers. If you're a
      graphics artist, musician or coder, you'll feel right at home and get to
      experience some creative productions.
    </span>

    <h1 class="tw-font-bold tw-text-[42px] tw-text-[#4080bd] tw-pb-8">
      "Is it like a political demonstration?"
    </h1>

    <span class="tw-text-[#4080bd] tw-pb-20">
      A "demo" is not about politics. That should be clear. We are here to
      demonstrate our skills and compete in several disciplines against each
      other to see who can produce the best demo.
    </span>

    <h1 class="tw-font-bold tw-text-[42px] tw-text-[#4080bd] tw-pb-8">
      "What awaits me?"
    </h1>

    <span class="tw-text-[#4080bd] tw-pb-8">
      !TUM is a 3 day party that goes around the clock. Normally people start
      arriving in the afternoon of the first day and either celebrate seeing
      each other again, or complete an entry for a competition. People just
      enjoy their time with some beer and music, talk about the latest tech or
      their upcoming release.
    </span>

    <span class="tw-text-[#4080bd] tw-pb-8">
      On the second day there are the so called "compos". Those are competitions
      in several categories like "Streamed Music", "PC Demo" or "Freestyle
      Graphics" and more. During and after the compos the visitors of the party
      vote for the shown entries.
    </span>

    <span class="tw-text-[#4080bd] tw-pb-20">
      On day three it's time for the prize giving. The best demos and
      productions get trophies depending on the votes made by the visitors.
      After that it's time to leave, as many visitors have a rather long trip
      home.
    </span>

    <h1 class="tw-font-bold tw-text-[42px] tw-text-[#4080bd] tw-pb-8">
      "But I don’t know anyone and don’t have any skills.”
    </h1>

    <span class="tw-text-[#4080bd] tw-pb-8">
      It doesn’t matter if you know anyone. We are happy to meet new people that
      share our interests and introduce them to other visitors.
    </span>

    <span class="tw-text-[#4080bd] tw-pb-20">
      Your skills don’t matter and you probably already have some. If you are
      eager to learn the skills you’re interested in, there will probably
      someone who’s willing to teach you. You also don’t have to bring a release
      to your first party, if you don’t like.
    </span>
  </div>
</div>
