<div class="lg:tw-m-[100px] lg:tw-mx-[200px] tw-m-10 tw-flex tw-flex-col">
  <h1>General Rules</h1>

  <span>
    Remote-entries are allowed for all compos, but will not be handed a trophy.
    Only original work is allowed in our competitions, so you cannot use
    protected or unlicensed content. Any copyright violation charges will be
    passed on to the submitter of the production. All entries must be
    exclusively released for the first time at !TUM, and must be handed in
    before the deadline (as per timetable). By taking part in a competition, you
    are agreeing that we’ll spread your contribution (e.g. through scene.org or
    other sites). Please submit a screenshot for your release, and .zip your
    entry before submission.
  </span>

  <span>
    We reserve the right to disqualify entries, make changes or cancel
    competitions for any reason.
  </span>

  <h1>PC Demo</h1>

  <ul>
    <li>Max length: 8 minutes incl. load time</li>
    <li>
      Platform: PC running any current stable windows version. Contact us in
      advance if your entry requires a different OS / platform.
    </li>
    <li>Maximum resolution: 1920x1080, preferably at 60 Hz.</li>
    <li>
      The entry has to be delivered as single .zip file included all necessary
      runtime libraries. Any engines or libraries used will be made publicly
      available and thus require a license permitting to do so.
    </li>
    <li>
      Expect standard DirectX / .net runtime installed, do not expect VC
      runtime, XBox SDK or other 3rd-party libraries installed
    </li>
    <li>
      Browser entries will be shown using latest Chrome or Firefox. Do not
      expect plugins including Flash, Java or PDF. Entries must be able to run
      from local file system
    </li>
  </ul>

  <h1>PC Intro</h1>

  <ul>
    <li>Limit for all files needed to run the intro: 64k (65536 bytes)</li>
    <li>Maximum running time: 10 minutes</li>
  </ul>

  <h1>Wild</h1>

  <ul>
    <li>
      Every platform is allowed (e.g. game consoles, mobile devices, oldschool
      homecomputers etc.)
    </li>
    <li>Bring your own hardware with you.</li>
    <li>No pure animations.</li>
    <li>Maximum running time: 10 minutes.</li>
    <li>
      We will pre-record the entries before the compo (when and where
      applicable). Providing a good quality (at least 1080p at 50 or 60Hz) video
      of your entry helps.
    </li>
  </ul>

  <h1>Combined Oldschool</h1>

  <ul>
    <li>Max length: 8 minutes incl. load time</li>
    <li>
      Available equipment will be announced later. When in doubt, please bring a
      record of your entry along.
    </li>
  </ul>

  <h1>Combined Music</h1>

  <ul>
    <li>Maximum playing length is: 3:30 min</li>
    <li>Entries may not loop and have to end with silence</li>
    <li>
      Executable Music: Part of the submission must be a .wav writer and
      instructions on how to use it; Maximum file size of the entry itself is
      32768 bytes. The .wav writer and additional information do not count into
      this size limit; Maximum pre-calculation time (in case your player needs
      it) is 30 seconds.
    </li>
    <li>
      Tracked Music: Allowed file formats: .mod, .s3m, .xm, .it; Please specify
      which XMPlay playback settings to use for your entry.
    </li>
    <li>
      Streamed Music: Allowed file formats: mp3, ogg, opus at a bitrate of
      192kbps or higher; Please complete ID3 tag or OGG file info as with as
      much detail as possible.
    </li>
  </ul>

  <h1>Combined Graphics</h1>

  <ul>
    <li>Include up to four working stages for non-procedural graphics</li>
    <li>
      Preferred format for submission is PNG. In case of graphics entries for
      non-pc platforms and executable graphics, please also submit a version of
      your entry as a PNG image file (for reference)
    </li>
    <li>AI-generated artwork is not permitted. /li></li>

    <li>Maximum rendering time for executable entries: 30 seconds</li>
    <li>
      Entries will be shown at maximum resolution 1920x1080 pixels. Larger
      images will be scaled down, smaller images may be shown at double/triple
      size without interpolation to preserve pixel clear display
    </li>
  </ul>
</div>
