h1 {
  color: #4080bd;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 2rem /* 32px */;
}
h2 {
  color: #4080bd;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 2rem /* 32px */;
}
h3 {
  color: #4080bd;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 2rem /* 32px */;
}

h4 {
  color: #4080bd;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 2rem /* 32px */;
}

span {
  --tw-text-opacity: 1;
  color: rgb(225 233 240 / var(--tw-text-opacity)) /* #e1e9f0 */;
}

p {
  --tw-text-opacity: 1;
  color: rgb(225 233 240 / var(--tw-text-opacity)) /* #e1e9f0 */;
}

ul {
  list-style-type: disc;
  padding-left: 2.5rem /* 40px */;
  padding-right: 2.5rem /* 40px */;
  padding-bottom: 5rem /* 80px */;
}

li {
  color: #e1e9f0;
}

@media (min-width: 1024px) {
  ul {
    padding-left: 5rem /* 80px */;
    padding-right: 5rem /* 80px */;
  }
}
