.datenschutz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #4080bd;
}

.datenschutz-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #4080bd;
}

.datenschutz-subheader {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #4080bd;
}

.datenschutz-text {
  font-size: 1em;
  margin-bottom: 15px;
  --tw-text-opacity: 1;
  color: rgb(225 233 240 / var(--tw-text-opacity)) /* #e1e9f0 */;
}
