<div class="tw-m-[100px]">
  <div class="datenschutz-container">
    <h1 class="datenschutz-header">Datenschutzerklärung</h1>

    <p class="datenschutz-text">
      Der Schutz Ihrer persönlichen Daten ist uns sehr wichtig. Im Folgenden
      möchten wir Sie darüber informieren, welche Daten wir erheben und wie wir
      diese verwenden.
    </p>

    <h2 class="datenschutz-subheader">1. Verantwortlicher</h2>
    <p class="datenschutz-text">
      Verantwortlicher für die Datenverarbeitung auf dieser Website ist [Ihr
      Unternehmen].
    </p>

    <h2 class="datenschutz-subheader">
      2. Erhebung und Speicherung personenbezogener Daten
    </h2>
    <p class="datenschutz-text">
      Wenn Sie unsere Website besuchen, werden automatisch Informationen durch
      den Browser Ihres Gerätes an unseren Server gesendet. Diese Informationen
      werden temporär in einem sogenannten Logfile gespeichert.
    </p>

    <h2 class="datenschutz-subheader">3. Weitergabe von Daten</h2>
    <p class="datenschutz-text">
      Eine Übermittlung Ihrer persönlichen Daten an Dritte findet nur statt,
      wenn Sie ausdrücklich eingewilligt haben, dies gesetzlich zulässig ist
      oder wir dazu verpflichtet sind.
    </p>

    <h2 class="datenschutz-subheader">4. Ihre Rechte</h2>
    <p class="datenschutz-text">
      Sie haben das Recht, Auskunft über Ihre bei uns gespeicherten Daten zu
      verlangen, diese zu berichtigen, zu löschen oder deren Verarbeitung
      einzuschränken.
    </p>

    <h2 class="datenschutz-subheader">5. Kontakt</h2>
    <p class="datenschutz-text">
      {{
        "Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten wenden Sie sich bitte an: info@untum.eu ."
      }}
    </p>
  </div>
</div>
