<img src="logo_website.png" alt="Logo" />

<div class="tw-flex tw-flex-col tw-items-center">
  <h1 class="tw-font-bold tw-text-[56px] tw-text-[#e8b385]">
    December 27th - 29th 2024
  </h1>
  <h2 class="tw-font-bold tw-text-[32px] tw-text-[#e8b385]">
    Sonnenberghalle Helferskirchen
  </h2>
  <h2 class="tw-font-bold tw-text-[32px] tw-text-[#e8b385]">Germany</h2>

  <div class="tw-pt-6">
    <span class="tw-font-bold tw-text-lg tw-text-[#e8b385]"
      >It's back! Enjoy the end of the year with your friends and family.</span
    >
  </div>
</div>
