<img src="logo_website.png" alt="Logo" />

<div class="tw-m-5 lg:tw-m-0 tw-flex tw-flex-col tw-items-center">
  <h1 class="tw-font-bold tw-text-[32px] tw-text-[#e8b385]">
    !TUM is cancelled.
  </h1>
  <!-- <h2 class="tw-font-bold tw-text-[32px] tw-text-[#e8b385]">
    Sonnenberghalle Helferskirchen
  </h2>
  <h2 class="tw-font-bold tw-text-[32px] tw-text-[#e8b385]">Germany</h2> -->

  <!-- <div class="tw-pt-6">
    <span class="tw-font-bold tw-text-lg tw-text-[#e8b385]"
      >It's back! Enjoy the end of the year with your friends and family.
    </span>
  </div> -->

  <div class="tw-pt-6 tw-flex tw-flex-col tw-items-start tw-mx-40">
    <p class="tw-text-lg tw-text-[#e8b385]">
      It is with a heavy heart that we need to announce that !TUM 2024 cannot
      happen after all.
    </p>
    <p class="tw-text-lg tw-text-[#e8b385] tw-pt-4">
      Even after several inspections and planning meetings with the location
      before the announcement, we have now found several showstoppers that
      wouldn’t allow us to party with you the way we all expect.
    </p>
    <p class="tw-text-lg tw-text-[#e8b385] tw-pt-4">
      A big thank you to all the organizers and helpers that stepped up to make
      !TUM happen, the support by the TUM-organizers, and the many excited and
      kind messages from everyone planning to visit the party.
    </p>
    <p class="tw-text-lg tw-text-[#e8b385] tw-pt-4">
      We will see each other at one of the next upcoming demoparties, and hope
      that we can pull things off in a future edition of !TUM.
    </p>
  </div>
</div>
