/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* @font-face {
  font-family: "pixeled";
  src: url("assets/font/Pixeled.ttf") format("opentype");
}

* {
  font-family: "pixeled", sans-serif;
} */

body {
  background-color: #1a1f29;
}

// custom menu bar color
.p-menubar {
  background-color: #1a1f29;
  border-radius: 0;
  border: none;
}

.p-focus {
}

// all menu bar items
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
}

// single menu bar items
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: #4b5563;
  background: #ff8610;
}

// second
.p-menubar
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: #4b5563;
  background: #ff8610;
}

// menu bar items container?
.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: #1d4ed8;
  background: #ff8610;
}

// sub menu list
.p-menubar .p-submenu-list {
  padding: 0.5rem 0;
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  width: 12.5rem;
  border-radius: 6px;
}

// sub menu list text color
.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
}

// p menu bar hover
.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

// MOBILE
@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list {
    background-color: #1a1f29;
  }

  .p-menubar .p-submenu-list {
    padding: 0.5rem 0;
    background: #1a1f29;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    width: 12.5rem;
    border-radius: 6px;
  }

  .p-menubar
    .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link
    .p-menuitem-text {
    color: white;
  }
}
