h1 {
  color: #4080bd;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 2rem /* 32px */;
}

span {
  --tw-text-opacity: 1;
  color: rgb(225 233 240 / var(--tw-text-opacity)) /* #e1e9f0 */;
  padding-bottom: 2rem /* 32px */;
}

p {
  --tw-text-opacity: 1;
  color: rgb(225 233 240 / var(--tw-text-opacity)) /* #e1e9f0 */;
}
