<div class="lg:tw-m-[100px] lg:tw-mx-[200px] tw-m-10 tw-flex tw-flex-col">
  <h1>By Car</h1>

  <span>
    To reach !TUM by car please insert the following address into your system:
  </span>
  <p>Sonnenberghalle</p>
  <p>Schulstraße 5</p>
  <p>56244 Helferskirchen</p>

  <span> You can park in the parking lot in front of the hall. </span>

  <h1>By Train</h1>

  <span>
    Take a train to “Bahnhof Montabaur” and from there it’s a short taxi ride or
    as mentioned above: contact us, if you have no option.
  </span>
</div>
