<div class="tw-m-[100px] tw-flex tw-flex-col">
  <h1 class="tw-font-bold tw-text-[42px] tw-text-[#4080bd] tw-pb-8">By Car:</h1>

  <span class="tw-text-[#4080bd] tw-pb-8">
    To reach !TUM by car please insert the following address into your system:
  </span>
  <p class="tw-text-[#4080bd]">Sonnenberghalle</p>
  <p class="tw-text-[#4080bd]">Schulstraße 5</p>
  <p class="tw-text-[#4080bd]">56244 Helferskirchen</p>

  <span class="tw-text-[#4080bd] tw-pt -8 tw-pb-20">
    You can park in the parking lot in front of the hall.
  </span>

  <h1 class="tw-font-bold tw-text-[42px] tw-text-[#4080bd] tw-pb-8">
    By Train:
  </h1>

  <span class="tw-text-[#4080bd] tw-pb-8">
    Take a train to “Bahnhof Montabaur” and from there it’s a short taxi ride or
    as mentioned above: contact us, if you have no option.
  </span>
</div>
